<nav class="navbar navbar-expand-lg navbar-light bg-primary justify-content-center p-0 container-fluid">
    <!-- 250 x 150 px -->
    <div class="media">
        <a href="/chose">
    <img class="mr-3" src="Only1.png" alt=""></a>
  </div>
     <div class="align-items-right p-0">
      <ul class="navbar-nav p-0">
        <!-- <li class="nav-item p-0">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" href="/signup">Signup</a>
        </li> -->
            <!-- <li class="nav-item">
          <a class="nav-link" href="./about">About or signup</a>
        </li> -->
        </ul>
     </div>
      
    </nav>