<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head'); %>
    <title>Pet Choice</title>
</head>

<body>
    <header class="container-fluid p-0">
        <%- include('./partials/headerLoggedIn'); %>  
    </header>
    <h1> Choose Cat or Choose dog</h1>
    <a href="/cat">cat</a>
    <a href="/dog">dog</a>
    <footer class="fixed-bottom">
        <%- include('./partials/footer'); %>
    </footer>
</body>

</html>