<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<%- include('./partials/head'); %>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<header class="container-fluid p-0">
			<%- include('./partials/headerLoggedIn'); %>  
		</header>
		<h1>Dog Pics</h1>
		<ul>
			<% dogs.forEach( el => { %>
			<li class="dogPicture" data-id="<%=el._id%>"></li>
			<% }) %>
		</ul>

		<form action="/dogs/createDogList" method="POST">
			<input
				type="text"
				placeholder="Enter a name for the list"
				name="dogList"
			/>
			<input type="submit" />
		</form>

		<!-- <a href="/logout">Logout</a> -->
		<footer class="fixed-bottom">
			<%- include('./partials/footer'); %>
		</footer>
		<script src="js/main.js"></script>
	</body>
</html>
