<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/head'); %>
</head>
<body class="bg-light">
    <!-- <div class="container-lg p-0" </div> -->
    <header class="container-fluid p-0">
        <%- include('./partials/header'); %>  
    </header>
    <div class="container">
        <div class="center justify-content-center"></div>
    <h1 class="text-center p-5">Welcome to:</h1>
    

    <img class="center rounded mx-auto d-block" src="onlyp.png" alt=""></div>
</div>
    <!-- <a href="/login"> Login</a>
    <a href="/signup"> Signup</a> -->

    <footer class="fixed-bottom">
        <%- include('./partials/footer'); %>
    </footer>
</div>
</body>
</html>

